.header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 16px;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;

    background-color: transparent;
    border: 0;
    outline: 0;

    cursor: pointer;
}

@media screen and (min-width: 960px) {
    .header {
        display: none;
    }
}